#entete{

    background-image: url("../Graphismes/banderole2.jpg");
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
}

.menus ul{display: none;}
.menus:hover{background: lightgrey;}
.menus:hover h4{text-decoration: underline;}
.menus:hover h5{text-decoration: underline;}
.menus:hover ul {display: block;}
.menus li:hover{background: lightsalmon;}
.menus a{display: block;}

#boiteMessage{
    margin-top : -70px;
}

.decalageVerticalArticles{
    margin-top: -20px;
}

#margeEntete{
    margin-bottom: 100px;
}

#logo{
    left: 35%;
    z-index:1001;
}