#entete{

    background-image: url("../Graphismes/banderole2.jpg");
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
}

#menu{
    margin-top: 20px;
    margin-left: 20px;
    height: 220px;
    z-index:1001;
}

.decalageVerticalArticles{
    margin-top: -20px;
}

#margeEntete{
    margin-bottom: 100px;
}

#logo{
    left: 35%;
    z-index:1001;
}